@charset "utf-8";
/* ================================== Delivery  ================================== */
.delivery-info {
	display: flex;
	align-items: center;
	min-height: rem(68);
	margin: 0 rem(24) rem(17);
	padding: rem(10) rem(16);
	line-height: 1.24;
	background-color: $color-white;
	.company {
		margin-right: rem(16);
		text-align: left;
		font-weight: 300;
		strong {
			font-weight: 700;
		}
	}
	.store {
		margin-left: auto;
		text-align: right;
		i {
			font-family: $en-font-family;
			letter-spacing: 0;
			font-weight: 700;
		}
	}
}