@charset "utf-8";
/* ================================== Main ================================== */
.main_cont {
	.tit {
		margin-top: rem(-10px);
		color: #000;
		font-size: rem(26px);
		font-weight: 700;
		line-height: 1.45;
	}
	.txt {
		margin-top: rem(10px);
		color: #35595C;
		font-size: rem(14px);
		font-weight: 500;
		line-height: 1.5;
	}
	.patent {
		@include flexbox;
		@include align-items(center);
		@include justify-content(flex-start);
		color: #35595C;
		font-size: rem(14px);
		font-weight: 500;
		line-height: 1.5;
		.btn {
			height: auto;
			margin-left: auto;
			text-decoration: underline;
		}
	}
	.inp_url {
		width: 100%;
		height: rem(40px);
		margin-top: rem(40px);
		padding: 0 rem(10px);
		font-size: rem(14px);
		border-radius: rem(5px);
		background-color: #FFF;
		@include placeholder {
			font-size: rem(14px);
		}
	}
	.btn_group_row {
		margin: rem(30px) 0;
		.btn {
			max-width: rem(104px);
		}
		p {
			padding-left: rem(7px);
			color: #35595C;
			line-height: 1.45;
		}
	}
}