@charset "utf-8";
/* ================================== Mypage ================================== */
.my-info {
	display: block;
	width: 100%;
	min-height: rem(187);
	padding: 0 rem(24) rem(18);
	text-align: center;
	color: $color-white;
	.name {
		margin-bottom: rem(5);
		font-size: rem(26);
		font-weight: 700;
	}
	.company {
		margin-bottom: rem(2);
		font-weight: 500;
	}
	.store {
		font-weight: 500;
		opacity: .6;
	}
	.status {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-top: rem(6);
		font-size: rem(14);
		li {
			display: flex;
			flex-direction: column-reverse;
			flex-grow: 1;
			flex-basis: (1 / 3) * 100%;
			padding: rem(12);
		}
		.case {
			opacity: .8;
		}
		.count {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: rem(20);
			font-weight: 700;
			line-height: 1;
			.num {
				margin-right: rem(2);
				font-family: $en-font-family;
				letter-spacing: 0;
				font-size: rem(24);
			}
		}
	}
}
.my-menu-group {
	margin-top: rem(6);
	&:not(:first-child) {
		margin-top: rem(14);
		padding-top: rem(16);
		border-top: rem(1) solid $color-gray_e5;
	}
}
.my-menu-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: rem(15) 0;
	font-size: rem(18);
	font-weight: 500;
	&:after {
		content: '';
		width: rem(6);
		height: rem(6);
		margin: rem(2);
		border-style: solid;
		border-color: #c7c7c7;
		border-width: rem(1) rem(1) 0 0;
		transform: rotate(45deg);
	}
}