@charset "utf-8";
/* ================================== Button ================================== */
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	border: 0;
	padding: rem(6);
	font-weight: 500;
	border-radius: rem(6);
	transition: .4s;
	&.btn-inline {
		display: inline-flex;
	}
	&:disabled,
	&.disabled {
		color: $color-gray_ae;
		border: rem(1) solid $color-gray_f6;
		background-color: $color-gray_f6;
	}
	//basic
	&-primary {
		height: rem(52);
		color: $color-white;
		font-size: rem(18);
		border: rem(1) solid $color-spruce;
		background-color: $color-spruce;
		box-shadow: 0 rem(6) rem(6) 0 rgba(0, 0, 0, 0.26);
	}
	&-secondary {
		height: rem(52);
		color: $color-black;
		font-size: rem(18);
		border: rem(1) solid #707070;
		background-color: $color-white;
		box-shadow: 0 rem(6) rem(6) 0 rgba(0, 0, 0, 0.12);
	}
	//popup
	&-pop-primary {
		height: rem(52);
		color: $color-white;
		font-size: rem(18);
		border: rem(1) solid $color-black;
		background-color: $color-black;
	}
	&-pop-secondary {
		height: rem(52);
		color: #222;
		font-size: rem(18);
		border: rem(1) solid #0f1f2e;
		background-color: $color-white;
	}
	//form
	&-form {
		height: rem(48);
		color: $color-white;
		font-size: rem(16);
		border: rem(1) solid #4a4a4a;
		background-color: #4a4a4a;
		&:disabled,
		&.disabled {
			border-color: $color-gray_e5;
		}
	}
	//select
	&-sel-primary {
		height: rem(36);
		color: #29543e;
		font-size: rem(14);
		border: rem(1) solid #29543e;
		background-color: $color-white;
		&:focus,
		&.is-select {
			color: $color-white;
			background-color: #29543e;
		}
	}
	&-sel-secondary {
		height: rem(36);
		color: #171d38;
		font-size: rem(14);
		border: rem(1) solid #171d38;
		background-color: $color-white;
		&:focus,
		&.is-select {
			color: $color-white;
			background-color: $color-black;
		}
	}










	// // etc
	// &.btn_link {
	// 	display: block;
	// 	width: rem(25px);
	// 	height: rem(25px);
	// 	border-radius: rem(5px);
	// 	background-color: #FFF;
	// 	box-shadow: 2px 3px 7px #E9DED7;
	// }
	// &.btn_review {
	// 	color: #FFF;
	// 	border: 1px solid #3994EF;
	// 	background-color: #3994EF;
	// }
	// &.btn_dibs {
	// 	color: #17BC58;
	// 	font-size: rem(14px);
	// 	font-weight: 500;
	// 	border: 1px solid #CCC;
	// 	background-color: #FFF;
	// }
	// &.btn_paging {
	// 	height: rem(34px);
	// 	color: #333;
	// 	font-size: rem(14px);
	// 	border-radius: rem(20px);
	// 	background-color: #FFF;
	// }
	// &.btn_dashboard {
	// 	max-width: rem(78px);
	// 	width: rem(78px);
	// 	height: rem(78px);
	// 	color: #000;
	// 	font-size: rem(14px);
	// 	font-weight: 500;
	// 	border-radius: 50%;
	// 	background-color: #FFCDBF;
	// }
	// &.btn_increase {
	// 	height: rem(26px);
	// 	color: #333;
	// 	font-size: rem(14px);
	// 	font-weight: 500;
	// 	border: 1px solid #D2D1D0;
	// 	background-color: #FFF;
	// }
	// &.btn_regist {
	// 	height: rem(34px);
	// 	color: #555;
	// 	font-size: rem(14px);
	// 	font-weight: 400;
	// 	border: 1px solid #DCDCDC;
	// 	border-radius: rem(5px);
	// 	background-color: #FFF;
	// }

	// &.btn_kakao {
	// 	@include justify-content(flex-start);
	// 	padding: 0 rem(16px);
	// 	color: #000;
	// 	border: 1px solid #FAE100;
	// 	background-color: #FAE100;
	// 	box-shadow: 2px 3px 7px #000;
	// 	span {
	// 		@include flex();
	// 	}
	// }
	// &.btn_naver {
	// 	@include justify-content(flex-start);
	// 	padding: 0 rem(16px);
	// 	color: #FFF;
	// 	border: 1px solid #19CE60;
	// 	background-color: #19CE60;
	// 	box-shadow: 2px 3px 7px #000;
	// 	span {
	// 		@include flex();
	// 		padding-right: rem(13px * 2);
	// 	}
	// }
	// &.btn_interest {
	// 	min-width: rem(56px);
	// 	height: rem(32px);
	// 	color: #333;
	// 	font-weight: 500;
	// 	border-radius: rem(20px);
	// 	border: 2px solid #FF8E6D;
	// 	background-color: #FFF;
	// 	&.is_active {
	// 		color: #FFF;
	// 		background-color: #FF8E6D;
	// 	}
	// }
	// &.btn_page_prev,
	// &.btn_page_next {
	// 	min-width: rem(68px);
	// 	height: rem(34px);
	// 	color: #333;
	// 	font-size: rem(14px);
	// 	font-weight: 500;
	// 	border-radius: rem(20px);
	// 	background-color: #FFF;
	// }
	// &.btn_page_prev {
	// 	&:before {
	// 		content: '';
	// 		display: inline-block;
	// 		width: rem(5px);
	// 		height: rem(5px);
	// 		margin-right: rem(4px);
	// 		border-top: 1px solid #666;
	// 		border-right: 1px solid #666;
	// 		transform: rotate(225deg);
	// 	}
	// }
	// &.btn_page_next {
	// 	&:after {
	// 		content: '';
	// 		display: inline-block;
	// 		width: rem(5px);
	// 		height: rem(5px);
	// 		margin-left: rem(4px);
	// 		border-top: 1px solid #666;
	// 		border-right: 1px solid #666;
	// 		transform: rotate(45deg);
	// 	}
	// }
	// &.btn_slide_prev,
	// &.btn_slide_next {
	// 	padding: rem(10px);
	// 	&:before {
	// 		content: '';
	// 		display: inline-block;
	// 		width: rem(10px);
	// 		height: rem(10px);
	// 		border: 1px solid #333;
	// 		transform: rotate(45deg);
	// 	}
	// }
	// &.btn_slide_prev {
	// 	&:before {
	// 		margin-left: rem(5px);
	// 		border-width: 0 0 1px 1px;
	// 	}
	// }
	// &.btn_slide_next {
	// 	&:before {
	// 		margin-right: rem(5px);
	// 		border-width: 1px 1px 0 0;
	// 	}
	// }
	// // 45deg: >, 225deg: <, 135deg: ∨, 315deg: ∧
	// &.btn_reset {
	// 	padding: 0;
	// }
	// &.btn_upload,
	// &.btn_delete {
	// 	position: relative;
	// 	padding: rem(3px);
	// 	overflow: hidden;
	// }
	// &.btn_upload {
	// 	input {
	// 		position: absolute;
	// 		cursor: pointer;
	// 		left: 0;
	// 		top: 0;
	// 		width: 100%;
	// 		height: 100%;
	// 		opacity: 0;
	// 	}
	// }
	// &.btn_del {
	// 	padding: 0;
	// }





	// icon button
	&-back,
	&-refresh,
	&-mypage,
	&-close-white {
		width: rem(40);
		height: rem(40);
		padding: 0;
	}
	&-receipt,
	&-info,
	&-phone,
	&-location {
		width: rem(31);
		height: rem(31);
		padding: 0;
	}

}

[class^="btn-group-"] {
	display: flex;
	align-items: center;
	&.btn-inline {
		display: inline-flex;
	}
}
.btn-group {
	&-row {
		.btn {
			margin: 0 rem(5);
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&.btn-half {
			.btn {
				flex-basis: 50%;
			}
		}
		&.between {
			justify-content: space-between;
		}
	}
	&-col {
		@include flex-direction(column);
		.btn {
			width: 100%;
			margin: rem(10) 0;
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}