@charset "utf-8";
/* ================================== Layout ================================== */
#wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background-color: $color-white;
}
.inner {
	padding: 0 rem(24);
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: $color-spruce;
	overflow: hidden;
	z-index: 10;
	&.is-bg:before {
		content: '';
		position: absolute;
		top: rem(-44);
		left: 50%;
		width: 100%;
		min-width: rem(375);
		min-height: rem(260);
		padding-top: (370 / 375) * 100%;
		transform: translateX(-50%);
		background: url("../img/bg-header.svg") no-repeat center top / contain;
		z-index: -1;
	}
}
.header {
	min-height: rem(68);
	.inner {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: rem(68);
		padding: 0 rem(16);
	}
	.logo {
		text-align: center;
		&-img {
			display: block;
			width: rem(240);
			height: rem(24);
			margin: rem(12) 0 rem(6);
			background: url("../img/logo.svg") no-repeat center / contain;
		}
		&-txt {
			display: block;
			color: $color-white;
			font-size: rem(18);
			font-weight: 500;
		}
	}
	.title {
		//margin-left: rem(8);
		//margin-right: rem(16);
		color: $color-white;
		font-size: rem(20);
		font-weight: 500;
		white-space: nowrap;
	}
	.btn-group-row {
		//margin-left: auto;
		.btn {
			margin: 0;
		}
	}
	&.is-login {
		min-height: rem(92);
		.inner {
			align-items: flex-start;
			justify-content: center;
			min-height: rem(92);
		}
	}
	&.is-delivery {
		min-height: rem(147);
		// .title {
		// 	margin-left: rem(8);
		// }
	}
	&.is-mypage {
		min-height: rem(29 + 187 + 8);
		border-bottom: rem(8) solid #f5f5f5;
		[class*='btn-'] {
			position: absolute;
			top: rem(1);
			right: rem(21);
			z-index: 3;
		}
	}
	&.is-error,
	&.is-full {
		height: 0;
		min-height: 0;
	}
	.btn-back {
		position: absolute;
		top: rem(14);
		left: rem(15);
		// margin-left: rem(-6);
		// + .title {
		// 	margin-left: 0;
		// }
	}
	.btn-mypage {
		position: absolute;
		top: rem(14);
		left: rem(16);
	}
	.btn-refresh {
		position: absolute;
		top: rem(14);
		right: rem(16);
	}
}
#container {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: rem(280);
	max-width: rem(960);
	height: 100%;
	margin: 0 auto;
	padding-top: rem(68);
	&.is-login {
		padding-top: rem(92);
	}
	&.is-delivery {
		padding-top: rem(147 + 60 + 57 + 32);
		.fixed-top {
			top: rem(62);
		}
	}
	&.is-history {
		padding-top: rem(68 + 46 + 57);
		.fixed-top {
			top: rem(68);
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: rem(24);
				right: rem(24);
				border-bottom: rem(1) solid $color-black;
			}
			.sort-list {
				padding-top: rem(5);
			}
		}
	}
	&.is-mypage {
		padding-top: rem(187 + 29 + 8);
		.fixed-top {
			top: rem(29);
		}
	}
	&.is-error,
	&.is-full {
		padding-top: 0;
	}
}
section {
	width: 100%;
	min-width: rem(280);
	max-width: rem(960);
	&.fixed-top {
		position: fixed;
		z-index: 10;
	}
}
.content {
	width: 100%;
	margin: 0;
	padding: 0;
	flex-grow: 1;
	.inner {
		padding-top: rem(24);
		padding-bottom: rem(24);
		&.card-list {
			display: flex;
			flex-direction: column;
			padding-top: 0;
			min-height: 100%;
		}
		&.note-list {
			display: flex;
			flex-direction: column;
			min-height: 100%;
		}
		&.my-menu {
			padding-top: 0;
		}
	}
	&.is-bottom {
		flex-grow: 0;
		margin-top: auto;
		.inner {
			padding-top: rem(16);
			padding-bottom: rem(26);
		}
	}
	&.is-floating {
		padding-bottom: rem(52 + 24);
		.floating-btm {
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
		}
	}
}
#floating-filter {
	position: fixed;
	right: rem(24);
	bottom: rem(91);
	z-index: 10;
}