@charset "utf-8";
/* ================================== List ================================== */
// list
.list_group {
	background-color: #FFF;
}
.list_item {
	padding: rem(14px) rem(16px);
	border-bottom: 1px solid #DCDCDC;
}
.deal_base {
	@include flexbox;
}
.item_check {
	@include flex(1, 0, rem(26px));
	@include flexbox;
	@include align-items(center);
	max-width: rem(26px);
	&_wide {
		@include flex;
		@include flexbox;
		max-width: 100%;
		padding: rem(6px) 0;
		.custom_check,
		.custom_radio {
			@include align-items;
			.label_txt {
				margin-top: rem(-2px);
				padding-left: rem(10px);
				font-weight: 500;
			}
		}
	}
}
.item_thumb {
	position: relative;
	@include flex(1, 0, rem(124px));
	max-width: rem(124px);
	height: rem(130px);
	.item_img {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.badge {
		position: absolute;
		top: 0;
		left: 0;
		color: #FFF;
		padding: 0 rem(4px);
		height: rem(17px);
		line-height: rem(17px);
		border-radius: rem(2px) rem(2px) rem(2px) 0;
		background: #3994EF;
		white-space: nowrap;
		em {
			font-weight: 700;
		}
		&:after {
			content: '';
			position: absolute;
			top: rem(17px);
			left: 0;
			width: 0;
			height: 0;
			border-top: 4px solid #0A529A;
			border-left: 5px solid transparent;
		}
	}
	&.is_badge {
		padding-top: rem(10px);
		padding-left: rem(4px);
	}
	//wide
	&.wide {
		position: relative;
		max-width: 100%;
		height: auto;
		padding-bottom: (148/320) * 100%;
		background-color: #EBE2E0;
		&:before {
			content:'';
			position: absolute;
			top: 50%;
			left: 50%;
			width: rem(42px);
			height: rem(37px);
			background: url('../../assets/img/noimg@2x.png') no-repeat center / cover;
			transform: translate(-50%, -50%);
		}
		.item_img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		.badge {
			top: rem(4px);
			left: rem(16px);
			z-index: 1;
			&:after {
				display: none;
			}
		}
		&.is_badge {
			padding-top: 0;
			padding-left: 0;
		}
	}
}
.item_info {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(space-between);
	@include flex(1, 1, auto);
	padding-left: rem(12px);
}
.title_area {
	@include flexbox;
	@include align-items(flex-start);
	padding: rem(10px) 0;
	.title {
		padding-right: rem(8px);
		color: #333;
		font-size: rem(14px);
		font-weight: 500;
		line-height: 1.5;
		@include multiline-ellipsis(1.5);
	}
	.btn_scrap {
		margin: rem(3px) 0 0 auto;
	}
}
.price_area {
	padding: rem(10px) 0;
	[class^="price_"] {
		padding-top: rem(6px);
		&:first-child {
			padding-top: 0;
		}
	}
	.price_current {
		color: #BBB;
		&.price_del {
			text-decoration: line-through;
		}
	}
	.price_deal {
		font-size: rem(14px);
		em {
			color: $color-primary;
			font-weight: 700;
		}
	}
}
.item_switch {
	@include flexbox;
	@include align-items(center);
	padding: rem(8px) rem(30px);
	.label_txt {
		padding-right: rem(6px);
		color: #333;
		font-weight: 500;
	}
	.period {
		margin-left: rem(12px);
	}
}
.item_btn {
	padding: rem(6px) 0;
}

// list_wide (chundeal)
.list_wide {
	.list_item {
		padding: 0;
		border-bottom: none;
		&:last-child {
			.item_info {
				margin-bottom: rem(15px);
			}
			.item_switch {
				padding-top: rem(2px);
			}
			.item_btn {
				padding-bottom: rem(20px);
			}
		}
	}
	.deal_base {
		@include flex-direction(column);
	}
	.item_thumb {
		 position: relative;
		 max-width: 100%;
		 height: auto;
		 padding-bottom: (148/320) * 100%;
		 background-color: #EBE2E0;
		 &:before {
			 content:'';
			 position: absolute;
			 top: 50%;
			 left: 50%;
			 width: rem(42px);
			 height: rem(37px);
			 background: url('../../assets/img/noimg@2x.png') no-repeat center / cover;
			 transform: translate(-50%, -50%);
		 }
		 .item_img {
			 position: absolute;
			 top: 0;
			 left: 0;
			 right: 0;
			 bottom: 0;
		 }
		 .badge {
			 top: rem(4px);
			 left: rem(16px);
			 z-index: 1;
			 &:after {
				 display: none;
			 }
		 }
		 &.is_badge {
			 padding-top: 0;
			 padding-left: 0;
		 }
	 }
	.item_info {
		position: relative;
		margin: rem(-25px) rem(16px) rem(5px);
		padding: rem(12px) rem(12px) rem(10px);
		background: #FFF;
		box-shadow: 3px 3px 5px #d5cac380;
		border-radius: rem(5px);
		z-index: 1;
	}
	.title_area {
		padding: 0;
	}
	.price_area {
		@include flexbox;
		padding: rem(16px) 0 rem(6px);
		[class^="price_"] {
			padding-top: 0;
			padding-right: rem(10px);
		}
		.price_deal {
			em {
				height: rem(26px);
				margin-left: rem(10px);
				padding: rem(2px) rem(10px);
				border-radius: rem(5px);
				border: 1px solid #FFC0AE;
			}
		}
	}
	.item_switch {
		@include justify-content(center);
		padding: rem(11px) rem(30px) rem(2px);
	}
	.item_btn {
		padding: rem(12px) rem(16px);
	}
	.item_check {
		padding: rem(14px) rem(16px);
		.applicant {
			padding-left: rem(8px);
		}
	}
}

// list_half (detail 판매상품)
.list_half {
	@include flexbox;
	@include flex-wrap(wrap);
	margin-bottom: rem(16px);
	.list_item {
		@include flex(1, 1, 50%);
		padding: rem(12px) rem(8px) 0 0;
		border-bottom: none;
		&:nth-child(2n) {
			padding: rem(12px) 0 0 rem(8px);
		}
	}
	.deal_base {
		@include flex-direction(column);
	}
	.item_thumb {
		position: relative;
		max-width: 100%;
		height: auto;
		padding-bottom: (146/136) * 100%;
		background-color: #EBE2E0;
		&:before {
			content:'';
			position: absolute;
			top: 50%;
			left: 50%;
			width: rem(42px);
			height: rem(37px);
			background: url('../../assets/img/noimg@2x.png') no-repeat center / cover;
			transform: translate(-50%, -50%);
		}
		.item_img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	.item_info {
		position: relative;
		padding: rem(8px) 0 0;
	}
	.title_area {
		padding: 0;
		@include flex-direction(column);
		.title {
			margin-top: rem(4px);
			padding-right: 0;
			font-size: rem(12px);
			order: 2;
		}
		.btn_scrap {
			margin: 0 0 0 auto;
			order: 1;
		}
	}
	.price_area {
		margin-top: auto;
		padding: rem(6px) 0 rem(2px);
		[class^="price_"] {
			padding-top: rem(2px);
		}
		.price_deal {
			font-size: rem(12px);
		}
	}
}

// list_manage (manage)
.list_manage {
	.item_check {
		position: relative;
		margin-top: rem(10px);
		input {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			margin: 0;
		}
	}
	.item_thumb {
		margin-top: rem(10px);
	}
	.title_area {
		padding-bottom: rem(2px);
		@include flex-direction(column);
		.title {
			padding-right: 0;
		}
		.btn_scrap {
			margin: rem(8px) auto 0 0;
		}
	}
}

// list_minify (scrap)
.list_minify {
	.list_item {
		padding: 0;
	}
}