@charset "utf-8";
/* ================================== List ================================== */
.note-list {
	.list-group,
	.no-data {
		border-top: rem(1) solid #222;
	}
}

.list-item {
	padding: rem(15) rem(1);
	border-bottom: rem(1) solid $color-gray_e5;
	.date {
		display: block;
		margin-bottom: rem(2);
		font-family: $en-font-family;
		font-size: rem(14);
		font-weight: 300;
	}
	.txt {
		@include multiline-ellipsis (1.5);
	}
}