@charset "utf-8";
/* ================================== Tab ================================== */
.tab_group_wrap {
	background-color: #FFF;
}
.tab_group {
	@include flexbox;
	@include align-items(center);
	padding: 0 rem(8px);
	position: relative;
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 1px;
		background-color: #EFEFEF;
	}
	overflow: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.tab_item {
	@include flex;
	@include flexbox;
	@include align-items(center);
	@include justify-content(center);
	padding: 0 rem(8px);
	.tab {
		@include flexbox;
		@include align-items(center);
		@include justify-content(center);
		position: relative;
		width: 100%;
		height: rem(40px);
		border: 0;
		padding: 0 rem(2px);
		color: #666;
		font-size: rem(16px);
		font-weight: 500;
	}
	&.is_active {
		.tab {
			color: #000;
			font-weight: 700;
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 2px;
				background-color: $color-primary;
			}
		}
	}
}

// sort
.sort_group_wrap {
	background-color: #FFF;
}
.sort_group {
	@include flexbox;
	padding: 0 rem(6px);
}
.sort_item {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 1px;
		height: rem(10px);
		transform: translateY(-50%);
		background-color: #AAA;
	}
	&:first-child {
		&:before {
			display: none;
		}
	}
	.btn {
		height: rem(36px);
		padding: 0 rem(10px);
		color: #666;
		border-radius: 0;
	}
	&.is_active {
		.btn {
			color: $color-primary;
			font-weight: 500;
		}
	}
}