@charset "utf-8";

// Content Width
$mobileWidth: 750px;
$base-vw: 375px;

// font family
$body-font-family: 'NotoSansCJKkr', sans-serif;

// font base size
$html-font-size: 16px;

// color
$color-pale-skyblue: #cbe0ee;
$color-darkblue-grey: #181e3b;
$color-battleship-grey: #6a7682;
$color-weird-green: #3ddb87;
$color-gray_ae: #aeaeae;
$color-ray_e3: #e3e3e3;
$color-gray_e5: #e5e5e5;
$color-white: #fff;

$color-primary: $color-weird-green;
$color-secondary: $color-darkblue-grey;

// break points
$breakpoints: (
	'sm':       ( min-width: 640px ),
	'md':       ( min-width: 750px ),
	'lg':       ( min-width: 850px ),
) !default;